name: Cache Workflow

on:
  push:
    branches:
      - main

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache_step
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-ddc8881

      - name: prime-cache-ddc8881
        run: echo "Cache hit? ${{ steps.cache_step.outputs.cache-hit }}"
